<section class="consultation" aria-labelledby="consultation-title">
  <div class="consultation__wave consultation__wave--top" aria-hidden="true"></div>
  <div class="consultation__inner container">
    <h2 id="consultation-title" class="consultation__title">Коли варто проконсультуватися?</h2>
    <div class="consultation__body">
      <div class="consultation__media">
        <img
          class="consultation__img"
          src="{{baseUrl}}img/raw/Consultation.png"
          alt="Каченя з думкою про консультацію"
          width="280"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="consultation__content">
        <ul class="consultation__list">
          <li>є сумніви щодо розвитку мовлення</li>
          <li>хочеться почути експертну думку</li>
          <li>дитині складно вимовляти окремі звуки</li>
          <li>дитина уникає розмов</li>
          <li>ви хвилюєтесь, що щось може бути не так</li>
        </ul>
        <p class="consultation__footer">Іноді достатньо однієї консультації, щоб зняти хвилювання.</p>
      </div>
    </div>
  </div>
  <div class="consultation__wave consultation__wave--bottom" aria-hidden="true"></div>
</section>
