<section id="help" class="help" aria-labelledby="help-title">
  <div class="help__inner container">
    <h2 id="help-title" class="help__title">Як ми допомагаємо дитині</h2>
    <p class="help__subtitle">Місце, де дитину чують, розуміють і підтримують</p>
    <ul class="help__cards">
      <li class="help__card">
        <img class="help__card-img" src="/img/raw/help1.png" alt="Ілюстрація: дитина заговорює впевнено" width="200" height="200" loading="lazy" />
        <h3 class="help__card-title">Допомагаємо дитині заговорити впевнено</h3>
        <p class="help__card-text">М'яко й послідовно допомагаємо дитині заговорити впевнено, чітко і з радістю.</p>
      </li>
      <li class="help__card">
        <img class="help__card-img" src="/img/raw/help2.png" alt="Ілюстрація: творчість і мовлення" width="200" height="200" loading="lazy" />
        <h3 class="help__card-title">Творчість як спосіб заговорити</h3>
        <p class="help__card-text">Через малювання, ліплення та гру розвиваємо уяву, мислення і мовлення.</p>
      </li>
      <li class="help__card">
        <img class="help__card-img" src="/img/raw/help3.png" alt="Ілюстрація: затишне середовище для дитини" width="200" height="200" loading="lazy" />
        <h3 class="help__card-title">Середовище, де дитині спокійно</h3>
        <p class="help__card-text">Затишне місце, де дитині комфортно бути собою, а батьки відчувають спокій.</p>
      </li>
    </ul>
  </div>
</section>
