<section id="hero" class="hero" aria-labelledby="hero-title">
  <div class="hero__inner container">
    <div class="hero__content">
      <h1 id="hero-title" class="hero__title">Допомагаємо дітям звучати впевнено</h1>
      <p class="hero__subtitle">Індивідуальні логопедичні заняття у теплій, ігровій атмосфері підтримки та любові</p>
    </div>

    <div class="hero__media">
      <img
        class="hero__image"
        src="{{baseUrl}}img/raw/heroImg.png"
        alt="Дві качки Duckids"
        width="480"
        height="360"
        fetchpriority="high"
      />
    </div>

    <div class="hero__actions">
      <a class="hero__button" href="#feedback">Отримати консультацію</a>
    </div>
  </div>
</section>