<section class="testimonials" aria-labelledby="testimonials-title">
  <div class="testimonials__wave testimonials__wave--top" aria-hidden="true"></div>
  <div class="testimonials__inner container">
    <h2 id="testimonials-title" class="testimonials__title">Батьки про Duckids</h2>
    <div class="testimonials__body">
      <div class="testimonials__media">
        <img
          class="testimonials__img"
          src="{{baseUrl}}img/raw/testimonialsImg.png"
          alt="Каченя з п'ятьма зірками"
          width="280"
          height="280"
          loading="lazy"
        />
      </div>
      <div class="testimonials__content">
        <div class="testimonials__slider">
          <div class="testimonials__slides">
            <blockquote class="testimonials__slide is-active">
              <p class="testimonials__quote">Ми прийшли до Duckids, коли донечка говорила мало і соромилася спілкуватися. Уже після кількох занять вона почала активно повторювати слова, з'явився інтерес до спілкування. Атмосфера в центрі тепла й доброзичлива, відчувається, що фахівці справді люблять дітей. Ми вдячні команді за підтримку й уважність, Даринка стала впевненішою і відкритішою.</p>
              <cite class="testimonials__author">Катерина Лісова</cite>
            </blockquote>
            <blockquote class="testimonials__slide">
              <p class="testimonials__quote">Дуже задоволені роботою центру. Син почав краще вимовляти звуки, з’явилась увага до занять. Рекомендую всім батькам.</p>
              <cite class="testimonials__author">Олександр Коваленко</cite>
            </blockquote>
          </div>
          <div class="testimonials__nav">
            <button type="button" class="testimonials__btn testimonials__btn--prev" aria-label="Попередній відгук">
              <svg class="testimonials__arrow" width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M5 2 L1 7 L5 12" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <button type="button" class="testimonials__btn testimonials__btn--next" aria-label="Наступний відгук">
              <svg class="testimonials__arrow" width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M2 2 L6 7 L2 12" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials__wave testimonials__wave--bottom" aria-hidden="true"></div>
</section>
